<h1>Patient Index</h1>
<% if current_user.patient != nil %>
  <%= link_to 'Appointment List', patient_appointments_path %>
  <%= link_to 'Make Appointment', new_patient_appointment_path %>
<% else %>
  <p>Contact a Doctor to get signed up!</p>
<% end %>
<%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>