<h1><%= current_user.first_name %>'s Schedule</h1>
  <% @doctor.patients.each do |patient| %>
    <% @patient = User.select { |p| p.id == patient.user_id } %>
      <%= @patient.full_name %>'s appointments
        <ul>
          <% patient.appointments.each do |appointment| %>
            <li> 
              <%= appointment.date %>
            </li>
          <% end %>
        </ul>
  <% end %>
<%= link_to 'Doctor Index', doctors_path %>
        