<h1>New Appointment</h1>
<% if current_user.patient == nil %>
  <%= render "doctorform", doctor: current_user.doctor %>
<% elsif current_user.doctor == nil %>
  <%= render "patientform", patient: current_user.patient %>
<% end %>